<mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Gruppo Storico Cortona
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <div *ngIf="this.dataService.isAuthenticate">
      <img class="avatar mat-elevation-z8"
        src="{{this.imgProfile}}"
      />
  
      <h4 class="name">{{this.persona.persona.fields.Nome}}</h4>
      <p class="designation">{{this.persona.persona.fields.Ruolo}}</p>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/lista-uscite">
        <mat-icon>calendar_today</mat-icon>
        <span>Uscite</span>
      </button>
      <button mat-button class="menu-button" routerLink="/lista-uscite-iscritto">
        <mat-icon>event</mat-icon>
        <span>Verfica Iscrizioni</span>
      </button>
    </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>