<div class="row justify-content-center align-items-center ">
    <div class="col-12 col-md-3 align-self-center">
        <button type="button" class="btn btn-primary btn-lg w-100 btn-block" routerLink="/lista-uscite" >Uscite future</button>
    </div>
</div>
<div class="row justify-content-center align-items-center mt-3">
    <div class="col-12 col-md-3 align-self-center">
        <button type="button" class="btn btn-primary btn-lg w-100 btn-block" routerLink="/lista-uscite-iscritto" >Verifica Iscrizioni</button>
    </div>
</div>
